edge-demo-flow.json
[{"id":"4d86adfb.1ed4e4","type":"tab","label":"MQTT ACC","disabled":false,"info":""},{"id":"52975f36.96688","type":"mqtt in","z":"4d86adfb.1ed4e4","name":"","topic":"accelerometer","qos":"2","broker":"ef772f8d.a4fe6","x":110,"y":480,"wires":[["981fc1bf.6155b","9464fae6.b89348","14f5023b.14136e"]]},{"id":"981fc1bf.6155b","type":"debug","z":"4d86adfb.1ed4e4","name":"","active":false,"console":"false","complete":"true","x":290,"y":600,"wires":[]},{"id":"9464fae6.b89348","type":"ui_chart","z":"4d86adfb.1ed4e4","name":"","group":"10156452.cc543c","order":3,"width":0,"height":0,"label":"Raw data - Y-axis of Accelerometer","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":380,"y":540,"wires":[[],[]]},{"id":"14f5023b.14136e","type":"BigObject CSV stream","z":"4d86adfb.1ed4e4","name":"","boserver":"e0c71085.f4021","table":"acc1","index":"","skiprows":"","encodingconv":false,"replacequote":false,"sourceencoding":"","x":340,"y":480,"wires":[[]]},{"id":"29324f0f.67ad5","type":"ui_chart","z":"4d86adfb.1ed4e4","name":"","group":"10156452.cc543c","order":2,"width":"0","height":"0","label":"BigObject Sliding Table Queries","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":1230,"y":760,"wires":[[],[]]},{"id":"646f0695.a64998","type":"change","z":"4d86adfb.1ed4e4","name":"Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":360,"wires":[["28967e8a.fdb222"]]},{"id":"20c09da8.a2ae52","type":"inject","z":"4d86adfb.1ed4e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":360,"wires":[["646f0695.a64998"]]},{"id":"8805076a.6fa818","type":"catch","z":"4d86adfb.1ed4e4","name":"","scope":null,"x":100,"y":40,"wires":[["37be3a22.496e36"]]},{"id":"37be3a22.496e36","type":"debug","z":"4d86adfb.1ed4e4","name":"","active":true,"console":"true","complete":"true","x":250,"y":40,"wires":[]},{"id":"ae5299ff.f25e58","type":"inject","z":"4d86adfb.1ed4e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["669a0561.67ebcc"]]},{"id":"669a0561.67ebcc","type":"BigObject SQL","z":"4d86adfb.1ed4e4","name":"","boserver":"e0c71085.f4021","stmt":"CREATE SLIDING TABLE acc1 (y DOUBLE, TIMEBOUND(300))","x":300,"y":120,"wires":[[]]},{"id":"a67502c0.f9a6f","type":"inject","z":"4d86adfb.1ed4e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":130,"y":760,"wires":[["e4bcfb46.38d258"]]},{"id":"823f1358.e47f5","type":"BigObject SQL","z":"4d86adfb.1ed4e4","name":"stat in 2s","boserver":"e0c71085.f4021","stmt":"SELECT AVG(y), STDDEV_SAMP(y) FROM acc1 LAST 2s","x":460,"y":720,"wires":[["b9418037.79d14"]]},{"id":"5f555f01.7877f","type":"BigObject SQL","z":"4d86adfb.1ed4e4","name":"stat in 10s","boserver":"e0c71085.f4021","stmt":"SELECT AVG(y), STDDEV_SAMP(y) FROM acc1 LAST 10s","x":470,"y":800,"wires":[["a54525ae.090418"]]},{"id":"86933120.11117","type":"mqtt out","z":"4d86adfb.1ed4e4","name":"","topic":"accelerometer","qos":"0","retain":"","broker":"ef772f8d.a4fe6","x":480,"y":240,"wires":[]},{"id":"2d77360c.f865ea","type":"inject","z":"4d86adfb.1ed4e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["6ccfcbab.d7e064"]]},{"id":"6ccfcbab.d7e064","type":"random","z":"4d86adfb.1ed4e4","name":"","low":"1","high":"10","inte":"false","x":300,"y":240,"wires":[["86933120.11117"]]},{"id":"feef7c71.ddf0e","type":"comment","z":"4d86adfb.1ed4e4","name":"Random Number Generator","info":"","x":160,"y":180,"wires":[]},{"id":"b4b96dc1.c2e21","type":"comment","z":"4d86adfb.1ed4e4","name":"Table Creation","info":"","x":110,"y":80,"wires":[]},{"id":"b9418037.79d14","type":"change","z":"4d86adfb.1ed4e4","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[0].Content.content[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.mean","pt":"msg","to":"result[0]","tot":"msg"},{"t":"set","p":"payload.stddev","pt":"msg","to":"result[1]","tot":"msg"},{"t":"delete","p":"result","pt":"msg"},{"t":"set","p":"time_duration","pt":"msg","to":"2","tot":"num"},{"t":"set","p":"parts","pt":"msg","to":"{\"type\":\"object\", \"id\":topic, \"index\": time_duration, \"count\": 2, \"key\":time_duration}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":720,"wires":[["a0ea82df.ceb3c","dba02a0e.3ad708"]]},{"id":"e4bcfb46.38d258","type":"change","z":"4d86adfb.1ed4e4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":760,"wires":[["823f1358.e47f5","5f555f01.7877f"]]},{"id":"a0ea82df.ceb3c","type":"split","z":"4d86adfb.1ed4e4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":830,"y":720,"wires":[["bce391fa.8f6af"]]},{"id":"bce391fa.8f6af","type":"change","z":"4d86adfb.1ed4e4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic & \"-\" & time_duration & \"s\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":720,"wires":[["29324f0f.67ad5"]]},{"id":"d95b857b.1b4fd8","type":"split","z":"4d86adfb.1ed4e4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":830,"y":800,"wires":[["58512767.cec2a8"]]},{"id":"58512767.cec2a8","type":"change","z":"4d86adfb.1ed4e4","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic & \"-\" & time_duration & \"s\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":800,"wires":[["29324f0f.67ad5"]]},{"id":"38d47869.3d8fc8","type":"comment","z":"4d86adfb.1ed4e4","name":"Clear the charts","info":"","x":120,"y":300,"wires":[]},{"id":"28967e8a.fdb222","type":"link out","z":"4d86adfb.1ed4e4","name":"send reset message","links":["1bcaa9a5.d47676","76d1af12.af54e"],"x":395,"y":360,"wires":[]},{"id":"76d1af12.af54e","type":"link in","z":"4d86adfb.1ed4e4","name":"","links":["28967e8a.fdb222"],"x":155,"y":540,"wires":[["9464fae6.b89348"]]},{"id":"1bcaa9a5.d47676","type":"link in","z":"4d86adfb.1ed4e4","name":"","links":["28967e8a.fdb222"],"x":1040,"y":680,"wires":[["29324f0f.67ad5"]]},{"id":"dba02a0e.3ad708","type":"join","z":"4d86adfb.1ed4e4","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","x":830,"y":860,"wires":[["ad871ac1.dbb0a8"]]},{"id":"a54525ae.090418","type":"change","z":"4d86adfb.1ed4e4","name":"","rules":[{"t":"set","p":"result","pt":"msg","to":"payload[0].Content.content[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"payload.mean","pt":"msg","to":"result[0]","tot":"msg"},{"t":"set","p":"payload.stddev","pt":"msg","to":"result[1]","tot":"msg"},{"t":"delete","p":"result","pt":"msg"},{"t":"set","p":"time_duration","pt":"msg","to":"10","tot":"num"},{"t":"set","p":"parts","pt":"msg","to":"{\"type\":\"object\", \"id\":topic, \"index\": time_duration, \"count\": 2, \"key\":time_duration}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":800,"wires":[["d95b857b.1b4fd8","dba02a0e.3ad708"]]},{"id":"b457a621.d46498","type":"function","z":"4d86adfb.1ed4e4","name":"anomaly detection","func":"var score = Math.abs(msg.payload[\"2\"].mean - msg.payload[\"10\"].mean)/ msg.payload[\"10\"].stddev;\nmsg.payload.score = score;\n\nif ( score > 1) {\n    msg.payload.alert = true;\n} else {\n    msg.payload.alert = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":920,"wires":[["2ad3621d.5ecc9e","a89cba2d.5b18e8"]]},{"id":"ad871ac1.dbb0a8","type":"link out","z":"4d86adfb.1ed4e4","name":"joined-query","links":["cdf7db0d.a82e38"],"x":935,"y":860,"wires":[]},{"id":"cdf7db0d.a82e38","type":"link in","z":"4d86adfb.1ed4e4","name":"","links":["ad871ac1.dbb0a8"],"x":95,"y":920,"wires":[["b457a621.d46498"]]},{"id":"2ad3621d.5ecc9e","type":"debug","z":"4d86adfb.1ed4e4","name":"","active":false,"console":"false","complete":"payload.alert","x":490,"y":960,"wires":[]},{"id":"a89cba2d.5b18e8","type":"ui_template","z":"4d86adfb.1ed4e4","group":"10156452.cc543c","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n    <h1 ng-style=\"{color: msg.payload.alert ? 'red' : 'green'}\">\n        {{msg.payload.score | number:3}}\n    </h1>\n</div>","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":460,"y":920,"wires":[[]]},{"id":"5300aa10.b52ab4","type":"comment","z":"4d86adfb.1ed4e4","name":"Read data from MQTT broker","info":"","x":160,"y":420,"wires":[]},{"id":"66f3f188.3c504","type":"comment","z":"4d86adfb.1ed4e4","name":"Read statistics from BigObject periodically. And do a naive anomaly detection in the end.","info":"","x":340,"y":660,"wires":[]},{"id":"ef772f8d.a4fe6","type":"mqtt-broker","z":"","broker":"mqtt_broker","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"10156452.cc543c","type":"ui_group","z":"","name":"BigObject Edge Demo","tab":"95a46c7c.90216","disp":true,"width":"16"},{"id":"e0c71085.f4021","type":"boserver","z":"","host":"bigobject","port":"9090"},{"id":"95a46c7c.90216","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
